@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="text-center">
    <hr size="5" width="100%" color="red">
   <p><b>Use this page to detail your site's privacy policy.</b></p>
<p><b>
    Information We Collect
It is always up to you whether to disclose personally identifiable information to us, although if you elect not to do so, 
we reserve the right not to register you as a user or provide you with any products or services. This website collects various types of information, 
such as:
Voluntarily provided information which may include your name, address, email address, billing and/or credit card information etc.
which may be used when you purchase products and/or services and to deliver the services you have requested.
In addition, HomeApp,  may have the occasion to collect non-personal anonymous demographic information, such as age, gender, household income, 
political affiliation, race and religion, as well as the type of browser you are using, IP address, or type of operating system, which will assist
 us in providing and maintaining superior quality service.
Please rest assured that this site will only collect personal information that you knowingly and willingly provide to us by way of surveys, 
completed membership forms, and emails. It is the intent of this site to use personal information only for the purpose for which it was requested,
 and any additional uses specifically provided for on this Policy.</b></p> 
</body>
</html>


