@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p>
    Yo te llevo desde niño muy adentro
te he encontrado en el pájaro y la flor,
en la lluvia, en la tierra y el silencio,
y en mis sueños cada noche estabas tú.

Desde entonces, quiero darte siempre gracias
porque puedo darme cuenta de tu amor,
beberé de tu cuerpo y de tu sangre,
y por siempre te daré mi corazón.

Como no creer en Dios
si me ha dado los hijos y la vida.
Como no creer en Dios
si me ha dado la mujer querida.

Como no creer en Dios
si lo siento en mi pecho a cada instante
en la risa de un niño por la calle
o en la tierna caricia de una madre.

Como no creer en Dios
si está en las viñas y en el manso trigo.
Como no creer en Dios
si me dio la mano abierta de un amigo

Como no creer en Dios
si me ha dado la tristeza y la alegría
de saber que hay un mañana cada día,
por la fe, por la esperanza y el amor.
</p>
