@page
@model GymEnCasa.App.Presentacion.Pages.CrearUsuarioModel
@{
     ViewData["Title"] = "Nuevo Usuario";
}

<br>
<h2 Class ="Text-info" style="text-align: center;">Crear Usuario 
</h2>
<p>Favor ingrese los siguientes datos:
</p>
<div class="border">
    <form method="post" onsubmit="">
        <br>
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="container" style="padding: 30px;">
            <div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Nombre">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Nombre" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Nombre" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Apellidos">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Apellidos" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Apellidos" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Telefono">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Telefono" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Telefono" class="text-danger">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Direccion">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Direccion" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Direccion" class="text-danger">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.FechaNacimiento">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.FechaNacimiento" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.FechaNacimiento" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Peso">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Peso" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Peso" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Estatura">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Estatura" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Estatura" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.Genero">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.Genero" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.Genero" class="text-danger">
                        </span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.IMC">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.IMC" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.IMC" class="text-danger">
                        </span>
                    </div>
                </div>



                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2">
                            <label asp-for="Usuario.ObjetivoPersonal">
                            </label>
                        </div>
                        <div class="col-sm-4">
                            <input asp-for="Usuario.ObjetivoPersonal" class="form-control">
                        </div>
                        <span asp-validation-for="Usuario.ObjetivoPersonal" class="text-danger">
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 offset-sm-2">
                            <input type ="submit" value ="Crear"class="btn btn-primary form-control">
                        </div>
                        <div class="col-sm-2">
                             <a asp-page ="/Index" class="btn btn-success form-control"> Volver
                             </a>
                        </div>
                    </div>
                </div>

             </div>
        </div>
        <p>En construcción !!!
        </p>
    </form>  
</div>